body {
    margin: 0;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.ritz .waffle a {
    color: inherit;
}

.ritz .waffle .s70 {
    border-bottom: 1px SOLID #351c75;
    border-right: 1px SOLID #351c75;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s95 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s18 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    color: #d9d9d9;
    font-family: docs-Kalam, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s50 {
    border-left: none;
    background-color: #ffffff;
}

.ritz .waffle .s25 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #d9d9d9;
    text-align: center;
    color: #351c75;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s6 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: "docs-Indie Flower", Arial;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s92 {
    border-bottom: 3px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    color: #d9d9d9;
    font-family: "docs-Josefin Sans", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s63 {
    background-color: #674ea7;
    text-align: center;
    color: #d9d9d9;
    font-family: "docs-Josefin Sans", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s29 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #351c75;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s49 {
    border-left: none;
    border-bottom: 1px SOLID transparent;
    background-color: #351c75;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s21 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID #000000;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #351c75;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s60 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: docs-Lexend, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s86 {
    border-bottom: 3px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s89 {
    border-bottom: 3px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s35 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    color: #d9d9d9;
    font-family: docs-Kalam, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s40 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID #000000;
    background-color: #d9d9d9;
    text-align: left;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s72 {
    border-bottom: 1px SOLID #d9d9d9;
    border-right: 1px SOLID #d9d9d9;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s90 {
    border-bottom: 3px SOLID #000000;
    border-right: 3px SOLID #000000;
    background-color: #d9d9d9;
    text-align: left;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s20 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #351c75;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s67 {
    background-color: #674ea7;
    text-align: left;
    font-weight: bold;
    color: #d9d9d9;
    font-family: "docs-Josefin Sans", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s14 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    color: #d9d9d9;
    font-family: docs-Jost, Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s37 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: docs-Righteous, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s12 {
    border-bottom: 1px SOLID #000000;
    border-right: 3px SOLID #000000;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    color: #20124d;
    font-family: docs-Kalam, Arial;
    font-size: 36pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s65 {
    border-bottom: 1px SOLID #351c75;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: docs-Algerian, Arial;
    font-size: 48pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s4 {
    border-bottom: 1px SOLID transparent;
    border-right: 3px SOLID #000000;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #8e7cc3;
    font-family: docs-Righteous, Arial;
    font-size: 36pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s22 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s10 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: docs-Righteous, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0;
}

.ritz .waffle .s53 {
    background-color: #ffffff;
    text-align: center;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s68 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID #351c75;
    background-color: #351c75;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s44 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #351c75;
    text-align: center;
    color: #d9d9d9;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s9 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    color: #d9d9d9;
    font-family: docs-Kalam, Arial;
    font-size: 36pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s84 {
    border-bottom: 3px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s31 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s24 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #d9d9d9;
    background-color: #d9d9d9;
    text-align: center;
    color: #351c75;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s87 {
    border-bottom: 3px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s82 {
    border-left: none;
    border-bottom: 1px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    color: #d9d9d9;
    font-family: docs-Kalam, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s33 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s13 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s11 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Righteous, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0;
}

.ritz .waffle .s55 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: left;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s78 {
    border-bottom: 1px SOLID #351c75;
    border-right: 2px SOLID #000000;
    background-color: #351c75;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s61 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Lexend, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s42 {
    border-bottom: 1px SOLID #b4a7d6;
    border-right: 1px SOLID #000000;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #8e7cc3;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s8 {
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s69 {
    border-bottom: 1px SOLID #351c75;
    border-right: 1px SOLID #351c75;
    background-color: #351c75;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s57 {
    border-bottom: 3px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s3 {
    border-right: 3px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s26 {
    border-bottom: 1px SOLID #351c75;
    border-right: 1px SOLID #351c75;
    background-color: #351c75;
    text-align: center;
    color: #d9d9d9;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s73 {
    border-bottom: 1px SOLID #d9d9d9;
    border-right: 1px SOLID #d9d9d9;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s41 {
    border-bottom: 1px SOLID #b4a7d6;
    border-right: 1px SOLID #b4a7d6;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #8e7cc3;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s64 {
    border-right: 3px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    color: #d9d9d9;
    font-family: "docs-Josefin Sans", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s66 {
    border-bottom: 1px SOLID #d9d9d9;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Algerian, Arial;
    font-size: 48pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s56 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s93 {
    border-bottom: 3px SOLID #000000;
    border-right: 3px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    color: #d9d9d9;
    font-family: "docs-Josefin Sans", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s2 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s17 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID #000000;
    background-color: #351c75;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s34 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s48 {
    border-left: none;
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s85 {
    border-bottom: 3px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s1 {
    border-bottom: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s27 {
    border-bottom: 1px SOLID #351c75;
    border-right: 1px SOLID #000000;
    background-color: #351c75;
    text-align: center;
    color: #d9d9d9;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s43 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #351c75;
    background-color: #351c75;
    text-align: center;
    color: #d9d9d9;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s58 {
    border-bottom: 3px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s80 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #674ea7;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    color: #d9d9d9;
    font-family: docs-Kalam, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s94 {
    border-right: 1px SOLID transparent;
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s7 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s59 {
    border-right: 3px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: docs-Poppins, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #351c75;
    font-family: docs-Jost, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s15 {
    border-bottom: 1px SOLID #d9d9d9;
    border-right: 1px SOLID #d9d9d9;
    background-color: #d9d9d9;
    text-align: center;
    color: #351c75;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s75 {
    border-bottom: 2px SOLID #000000;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    font-family: docs-Roboto, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s91 {
    border-bottom: 3px SOLID #000000;
    background-color: #674ea7;
    text-align: left;
    font-weight: bold;
    color: #d9d9d9;
    font-family: "docs-Josefin Sans", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s45 {
    border-right: none;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: docs-Calibri, Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s88 {
    border-bottom: 3px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: left;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s71 {
    border-bottom: 1px SOLID #351c75;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s83 {
    border-bottom: 1px SOLID transparent;
    border-right: 2px SOLID #000000;
    background-color: #351c75;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s36 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: docs-Righteous, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s30 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s38 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Righteous, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s81 {
    border-right: none;
    border-bottom: 1px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    color: #d9d9d9;
    font-family: docs-Kalam, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s74 {
    border-bottom: 2px SOLID #000000;
    border-right: 1px SOLID #351c75;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    font-family: docs-Roboto, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s47 {
    border-left: none;
    border-right: none;
    background-color: #ffffff;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s77 {
    border-bottom: 1px SOLID #674ea7;
    border-right: 1px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    color: #d9d9d9;
    font-family: docs-Kalam, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s51 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #b4a7d6;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #8e7cc3;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s28 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #351c75;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s19 {
    border-bottom: 1px SOLID transparent;
    border-right: 3px SOLID #000000;
    background-color: #d9d9d9;
    text-align: left;
    font-style: italic;
    color: #20124d;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s62 {
    background-color: #674ea7;
    text-align: left;
    color: #d9d9d9;
    font-family: "docs-Josefin Sans", Arial;
    font-size: 9pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s39 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #d9d9d9;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: #20124d;
    font-family: docs-Righteous, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s54 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s46 {
    border-left: none;
    border-right: none;
    background-color: #ffffff;
}

.ritz .waffle .s32 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID transparent;
    background-color: #351c75;
    text-align: left;
    font-style: italic;
    color: #000000;
    font-family: docs-Roboto, Arial;
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s79 {
    border-bottom: 2px SOLID #000000;
    border-right: 2px SOLID #000000;
    background-color: #674ea7;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: docs-Jost, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s16 {
    border-bottom: 1px SOLID #d9d9d9;
    border-right: 1px SOLID #000000;
    background-color: #d9d9d9;
    text-align: center;
    color: #351c75;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s23 {
    border-bottom: 1px SOLID transparent;
    border-right: 1px SOLID #000000;
    background-color: #351c75;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #d9d9d9;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s76 {
    border-bottom: 2px SOLID #000000;
    border-right: 1px SOLID #d9d9d9;
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    font-family: docs-Roboto, Arial;
    font-size: 18pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}

.ritz .waffle .s52 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #8e7cc3;
    font-family: "docs-Chakra Petch", Arial;
    font-size: 10pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
}